.animal-edit {
    display: flex;
    flex-flow: wrap row;
    color: #05386b;
}

.animal-edit div{
    flex: 1 0 30%;
    padding-bottom: 15px;
}

.animal-edit * input{
    color: #05386b;
}

.animal-edit * textarea {
    color: #05386b;
}

.animal-edit * select {
    color: #05386b;
}