.owner-index {
    color: #05386b;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.owner-index a {
    text-decoration: None;
    color: #05386b;
}

.owner-index a:hover {
    color: #d9b310;
    opacity: 0.8;
    transition: 0.5s;
}

.owner-index section {
    flex: 1 0 33%;
}

.owner-details {
    color: #05386b;
}

.owner-details h2 {
    text-decoration: underline;
}

.new-owner {
    display: flex;
    color:#05386b;

}
.new-owner div {
    color: #05386b;
    margin: 10px;
    flex: 1 1 25%;
    font-size: 28px;
}

.new-owner-submit {
    margin-bottom: 10px;
    font-size: 28px;
}