.owner-index {
    color: #05386b;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.owner-index a {
    text-decoration: None;
    color: #05386b;
}

.owner-index a:hover {
    color: #d9b310;
    opacity: 0.8;
    transition: 0.5s;
}

.owner-index section {
    flex: 1 0 33%;
}
