body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background: #e6e3e0;
    /* background: linear-gradient(120deg, white 40%, #edf5e1 60%); */
}

body p {
    padding-left: 5px;
    color: #0b3c5d;
    font-size: 25px;
}

body h3 {
    padding-left: 5px;
    text-decoration: none;
}

body h1 {
    padding-left: 5px;
}

body h2 {
    padding-left: 5px;
    font-size: 40px;
}

body form {
    padding-left: 5px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    font-size: larger;
    background: -webkit-linear-gradient(110deg, #0b3c5d 40%, #1d2731 60%);
    margin: 0px;
    min-height: 45px;
}

.sticky {
    position: fixed;
    top:0;
    width: 100%;

}

.sticky + .main-header{
    padding-top: 20px;
}
header a {
    text-decoration: none;
    color: #d9b310;
}

.main-header h1 {
    padding-left: 5px;
    color: #05386b;
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;
    padding-top: 16px;
}

.main-nav li {
    list-style: none;
    display: flex;
    margin-left: 8px;
    margin-bottom: 8px;
    margin-right: 4px;
}

.main-nav a {
    text-decoration: none;
    color: white;
    flex-direction: row;
    display: block;
    background-color:  #d9b310;
    border-radius: 8px;
    padding: 4px;
}
/* #328cc1; */

.main-nav a:hover {
    background: #0b3c5d;
    opacity: 0.8;
    transition: 0.5s;
}

.main-nav ul {
    margin-right: 8px;
}

footer {
    color: #edf5e1 ;
    background: -webkit-linear-gradient(110deg, #0b3c5d 40%, #1d2731 60%);
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
}

.welcome-text {
    min-height: 80vh;
}

h1 {
    color: #05386b;
}