.vet-index h1 {
    color: #05386b;
}

.vet-index a {
    text-decoration: None;
    color: #05386b;
}

.grid-vets-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.grid-vets-index a {
    text-decoration: None;
    color: #05386b;
    margin-left: 10px;
}
.grid-vets-index a:hover {
    color: #d9b310;
    opacity: 0.8;
    transition: 0.5s;;
}

.new-vet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 12px;
    color: #05386b;
}

.new-vet div {
    display: flex;
}

.new-vet input {
    color: #05386b;
}

.vet-edit {
    color:#05386b;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
}

.vet-edit div {
    flex: 0 1 25%;
}

.vet-edit input {
    color:#05386b;
}

.vet-background {
    background-image: url(..img/profile_pic_placeholder.png);
}

.vet-view p{
    color:#05386b;
    font-size: 20px;
}

.vet-view input {
    color:#05386b;
    margin-bottom: 10px;
}