{% extends "base.html" %}

{% block content %}
<h2>
    Edit {{ vet.first_name}}'s profile
</h2>
<form action="/vets/{{ vet.id }}" method="POST" class="vet-edit">
    <div>
        <label for="first_name">First name:</label>
        <input type="text" name="first_name" id="first_name" value="{{vet.first_name}}">
    </div>
    <div>
        <label for="last_name">Last name:</label>
        <input type="text" name="last_name" id="last_name" value="{{vet.last_name}}">
    </div>
    <div>
        <label for="working_days">Days in office:</label>
        <input type="text" name="working_days" id="working_days" value="{{vet.working_days}}">
        <small>Seperate with a comma.</small>
    </div>
    <div>
        <label for="date_of_birth">D.o.B</label>
        <input type="date" name="date_of_birth" id="date_of_birth" value="{{vet.date_of_birth}}">
    </div>
    <div>
        <input type="submit" value="Update">
    </div>
</form>
{% endblock %}