{% extends 'base.html' %}
{% block content %}
<section class="animal-index">
    <form action="/search/name" method="POST">
        <section>
            <label for="name">Search by Name:</label>
            <input type="text" name="name" id="name">
        </section>
        <section>
            <input type="submit" value="Search">
        </section>  
    </form>
    
    
    <section>
        {% for animal in animals %}
        <div>
            <h3>{{animal.name}} - Vet: {{animal.current_vet.last_name}}, {{animal.current_vet.first_name}}</h3>
            <section>
                <p>Type: {{animal.animal_type}}</p>
                <p>D.o.B: {{animal.date_of_birth}}</p>
                <p>Owner Name: {{animal.owner_details.name}}</p>
            </section>
            <section>
                <button><a href="/animals/{{ animal.id }}">View</a></button>
            </section>
        </div>
        <br>
            {% endfor %}
    </section>
</section>
{% endblock %}