{% extends "base.html" %}
{% block content %}

<h2>Update {{ animal.name}}'s Record</h2>

<form action="/animals/{{ animal.id }}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="{{ animal.name}}">
    </div>
    <div>
        <label for="date_of_birth">Date of birth:</label>
        <input type="date" name="date_of_birth" id="date_of_birth" value="{{animal.date_of_birth}}">
    </div>
    <div>
        <label for="animal_type">Type of animal:</label>
        <input type="text" name="animal_type" id="animal_type" value="{{ animal.animal_type }}">
    </div>
    <div>
        <label for="owner_number">Owner's Number:</label>
        <input type="tel" name="owners_number" id="owners_number" value="{{animal.owner_number}}">
    </div>
    <div>
        <label for="treatment_notes">Vets notes:</label>
        <input type="text" name="treatment_notes" id="treatment_notes" value="{{ animal.treatment_notes }}">
    </div>
    <div>
        <label for="current_vet">Which vet are they assigned to:</label>
        <select name="current_vet_id" id="current_vet">
            {% for vet in vets %}
            <option value="{{ vet.id }}">
                {{vet.last_name}}, {{vet.first_name}}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>




{% endblock %}