{% extends "base.html" %}
{% block content %}
<h2>Add New Animal Record</h2>

<form action="/animals" method="POST">
    <div>
        <label for="name">Name of animal:</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="date_of_birth">Date of birth of animal:</label>
        <input type="date" name="date_of_birth" id="date_of_birth">
    </div>
    <div>
        <label for="owner_number">Owner's Number:</label>
        <input type="tel" name="owners_number" id="owners_number" pattern="[0-9]{5}-[0-9]{6}" required>
        <small>Example: 12345-678900</small>
    </div>
    <div>
        <label for="treatment_notes">Vets initial notes:</label>
        <textarea name="treatment_notes" id="treatment_notes" cols="20" rows="5"></textarea>
    </div>
    <div>
        <label for="vet">Which vet are they assigned to:</label>
        <select name="current_vet" id="current_vet">
            {% for vet in vets%}
            <option value="{{ vet.id}}">
                {{vet.last_name}}, {{vet.first_name}}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}