{% extends 'base.html' %}

{% block content %}
<h2>Name: {{animal.name}} - Current Vet: <a href="/vets/{{animal.current_vet.id}}">{{animal.current_vet.last_name}}, {{animal.current_vet.first_name}}</a></h2>

<section>
    <p>Type of Animal: {{animal.animal_type}}</p>
    <p>D.o.B: {{animal.date_of_birth}}</p>
</section>
<br>
<section>
    <h3>Owner Details</h3>
    <p>Owner Name: {{animal.owner_details.name}}</p>
    <p>Number: {{animal.owner_details.number}}</p>
    <p>Address: {{animal.owner_details.address}} <br>{{animal.owner_details.postcode}}</p>
    <p></p>
</section>

<section>
    {{animal.treatment_notes}}
</section>

<section>
    <form action="/animals/{{animal.id}}/edit">
        <input type="submit" value="Edit">
    </form>
</section>
<section>
    <form action="/animals/{{ animal.id }}/delete" method="POST">
        <input type="submit" value="delete">
    </form>
</section>


{% endblock %}