{% extends 'base.html' %}

{% block content %}
<h2>
    Edit - {{owner.name}}'s Profile'
</h2>
<form action="/owners" method='POST'>
    <div>
        <label for="name">Owner name:</label>
        <input type="text" name="name" id="name" value="{{owner.name}}">
    </div>
    <div>
        <label for="number">Contact Number:</label>
        <input type="text" name="number" id="number" value="{{owner.number}}">
    </div>
    <div>
        <label for="address">Address</label>
        <input type="text" name="address" id="address" value="{{owner.address}}">
    </div>
    <div>
        <label for="postcode">Postcode:</label>
        <input type="text" name="postcode" id="postcode" value="{{owner.postcode}}">
    </div>
    <div>
        <input type="submit" value="Add New owner">
    </div>
</form>

{% endblock %}